.map_page_container {
  height: 100vh;
  width: 100%;
}

.map_page_marker_container {
  width: 30px;
  height: 30px;
  position: relative;
}

.map_page_marker_text {
  font-size: 13px;
  color: white;
  font-weight: 700;
  vertical-align: text-top;
  text-align: center;
  margin: 0;
  padding: 0;
}

.map_page_card_img {
  width: 45px;
  height: 45px;
  margin-right: 15px;
  transition: 0.3s;
}

.map_page_card_img:hover {
  opacity: 0.6;
}

.map_page_v_rooms_list {
  position: absolute;
  bottom: 25px;
  right: 45px;
  display: flex;
  flex-direction: row-reverse;
}

.map_page_v_rooms_join_button {
  width: 45px;
  height: 45px;
  margin-right: 15px;
  border-radius: 45px;
  background-color: #00ffff;
  font-size: 24px;
  border: none;
  transition: 0.3s;
}

.map_page_v_rooms_join_button:hover {
  opacity: 0.6;
}

.map_page_v_rooms_join_button:active {
  background-color: black;
}

.map_page_v_rooms_videos_container {
  position: absolute;
  display: flex;
  flex-direction: column-reverse;
  right: 10px;
  bottom: 150px;
  width: 250px;
  align-items: flex-end;
}

.map_page_v_rooms_video_container {
  height: 200px;
  width: 250px;
  background-color: black;
  width: 100%;
  margin-bottom: 10px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.m_page_v_rooms_video_buttons_container {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

.m_page_v_rooms_video_button {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  background-color: aqua;
  font-size: 16px;
  border: none;
  transition: 0.3s;
}

.m_page_v_rooms_video_button:hover {
  opacity: 0.6;
}

.mapboxgl-ctrl-bottom-left {
  display: none;
}

.mapboxgl-ctrl-bottom-right {
  display: none;
}

.card {
  width: 250px;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

label {
  width: max-content;
  color: tomato;
  font-size: 13px;
  border-bottom: 0.5px solid tomato;
  margin: 2px 0;
}

.desc {
  font-size: 14px;
}

.star {
  color: gold;
}

.username {
  font-size: 14px;
}

.date {
  font-size: 12px;
}

form {
  width: 250px;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: rgb(88, 87, 87);
}

input {
  border: none;
  border-bottom: 1px solid gray;
}

input::placeholder,
textarea::placeholder {
  font-size: 12px;
  color: rgb(185, 184, 184);
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

textarea {
  border: none;
  border-bottom: 1px solid gray;
}

.submitButton {
  border: none;
  padding: 5px;
  border-radius: 5px;
  color: white;
  background-color: tomato;
  cursor: pointer;
}

.buttons {
  display: flex;
}

.buttons,
.logout {
  position: absolute;
  top: 10px;
  left: 20px;
  align-items: center;
}

.button {
  border: none;
  padding: 5px;
  border-radius: 5px;
  color: white;
  font-weight: 500;
  cursor: pointer;
}

.button:focus {
  outline: none;
}

.logout {
  background-color: tomato;
}

.login {
  background-color: teal;
  margin-right: 10px;
}

.register {
  background-color: slateblue;
}
